* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #282c34, #61dafb);
    font-family: 'Kanit', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #282c34;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 a {
    color: #61dafb;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #61dafb;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('your-image.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0;
}

.hero .btn {
    background: #61dafb;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background 0.3s;
}

.hero .btn:hover {
    background: #21a1f1;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 4rem 0;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.about, .contact {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
}

.portfolio .projects-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.portfolio  h2 {
    color: white;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 1200px;
    max-width: 100%;
}

pre {
    background: #282c34;
    color: #61dafb;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
}

footer {
    background: #282c34;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero .btn {
        font-size: 1rem;
    }

    .project {
        width: 100%;
        max-width: 100%;
    }
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 10px;
}

.contact ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.contact ul li a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.contact ul li a:hover {
    color: #61dafb;
}
